* {
  font-family: 'Montserrat Alternates', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > h1 {
  text-align: center;
}
body > textarea {
  cursor: pointer;
  width: 500px;
  user-select: none;
}
textarea::selection {
  background-color: transparent;
}
.__keyboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  gap: 10px;
  width: auto;
  height: auto;
  background-color: lightcyan;
  .__row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .__key {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: bisque;
      border-radius: 9px;
      min-width: 50px;
      height: 50px;
      user-select: none;
      transition: background-color 0.5s;
    }
    .code_ArrowLeft {
      transform: rotate(180deg);
    }
    .__key:hover {
      background-color: lightblue;
      transition: background-color 0.5s;
    }
    /*.__key:active {
      background-color: red;
    }*/
  }
}
.active {
  background-color: red!important;
  transition: background-color 0.5s;

}
.active::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position:absolute;
  //transform: translate(-50%, -50%);
  animation: ring 1s infinite;
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
.invisible {
  display: none;
}